@model List<Phone>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<table class="table">
    <thead>
        <tr>
            <th>
                Numero
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-controller="Phones" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Phones" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
